In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('loan.csv')
df.head()

C:\Users\sdaks\AppData\Local\Temp\ipykernel_26732\3318210521.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
print(df.shape)

(39717, 111)

# Data Cleanup

### Remove all columns having all null

In [4]:
df.isnull().sum()
df.dropna(how='all',axis=1,inplace=True)

In [5]:
cols_nulls_per=df.isnull().sum()/df.shape[0]*100
cols_to_drop = list(cols_nulls_per[cols_nulls_per>5].index)
cols_to_drop

['emp_title',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'next_pymnt_d']

### Remove all columns with nulls>25%

In [6]:
cols_with_null_greater_than_twentyfive_per=list(cols_nulls_per[cols_nulls_per>25].index)
print(cols_with_null_greater_than_twentyfive_per)

['desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d']

In [7]:
df.drop(cols_with_null_greater_than_twentyfive_per,axis=1,inplace=True)
df.shape

(39717, 53)

### Other columns having nulls

In [8]:
null_columns = df.isnull().sum()
null_columns[null_columns >0]
null_columns = null_columns[null_columns >0]
print(null_columns)

emp_title                     2459
emp_length                    1075
title                           11
revol_util                      50
last_pymnt_d                    71
last_credit_pull_d               2
collections_12_mths_ex_med      56
chargeoff_within_12_mths        56
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

### Removing all categorial columns were value counts are too much thus not useful

In [9]:
columns = list(df.columns)
df_temp = pd.DataFrame({'col_name':columns,'null_count':list(df.isnull().sum().values)})
df_temp['value_count'] = df_temp['col_name'].apply(lambda x:df[x].value_counts().size)
df_temp['dtype'] = df_temp['col_name'].apply(lambda x:type(df[x][0]))
df_temp

,col_name,null_count,value_count,dtype
0,id,0,39717,<class 'numpy.int64'>
1,member_id,0,39717,<class 'numpy.int64'>
2,loan_amnt,0,885,<class 'numpy.int64'>
3,funded_amnt,0,1041,<class 'numpy.int64'>
4,funded_amnt_inv,0,8205,<class 'numpy.float64'>
5,term,0,2,<class 'str'>
6,int_rate,0,371,<class 'str'>
7,installment,0,15383,<class 'numpy.float64'>
8,grade,0,7,<class 'str'>
9,sub_grade,0,35,<class 'str'>
10,emp_title,2459,28820,<class 'float'>
11,emp_length,1075,11,<class 'str'>
12,home_ownership,0,5,<class 'str'>
13,annual_inc,0,5318,<class 'numpy.float64'>
14,verification_status,0,3,<class 'str'>
15,issue_d,0,55,<class 'str'>
16,loan_status,0,3,<class 'str'>
17,pymnt_plan,0,1,<class 'str'>
18,url,0,39717,<class 'str'>
19,purpose,0,14,<class 'str'>
20,title,11,19615,<class 'str'>
21,zip_code,0,823,<class 'str'>
22,addr_state,0,50,<class 'str'>
23,dti,0,2868,<class 'numpy.float64'>
24,delinq_2yrs,0,11,<class 'numpy.int64'>
25,earliest_cr_line,0,526,<class 'str'>
26,inq_last_6mths,0,9,<class 'numpy.int64'>
27,open_acc,0,40,<class 'numpy.int64'>
28,pub_rec,0,5,<class 'numpy.int64'>
29,revol_bal,0,21711,<class 'numpy.int64'>
30,revol_util,50,1089,<class 'str'>
31,total_acc,0,82,<class 'numpy.int64'>
32,initial_list_status,0,1,<class 'str'>
33,out_prncp,0,1137,<class 'numpy.float64'>
34,out_prncp_inv,0,1138,<class 'numpy.float64'>
35,total_pymnt,0,37850,<class 'numpy.float64'>
36,total_pymnt_inv,0,37518,<class 'numpy.float64'>
37,total_rec_prncp,0,7976,<class 'numpy.float64'>
38,total_rec_int,0,35148,<class 'numpy.float64'>
39,total_rec_late_fee,0,1356,<class 'numpy.float64'>
40,recoveries,0,4040,<class 'numpy.float64'>
41,collection_recovery_fee,0,2616,<class 'numpy.float64'>
42,last_pymnt_d,71,101,<class 'str'>
43,last_pymnt_amnt,0,34930,<class 'numpy.float64'>
44,last_credit_pull_d,2,106,<class 'str'>
45,collections_12_mths_ex_med,56,1,<class 'numpy.float64'>
46,policy_code,0,1,<class 'numpy.int64'>
47,application_type,0,1,<class 'str'>
48,acc_now_delinq,0,1,<class 'numpy.int64'>
49,chargeoff_within_12_mths,56,1,<class 'numpy.float64'>
50,delinq_amnt,0,1,<class 'numpy.int64'>
51,pub_rec_bankruptcies,697,3,<class 'numpy.float64'>
52,tax_liens,39,1,<class 'numpy.float64'>

In [10]:
df.drop(['emp_title','title','id','member_id','url'],axis=1,inplace=True)

In [11]:
df.shape

(39717, 48)

### Removing all columns were value counts is just one

In [15]:
df_temp1 = df_temp[df_temp['value_count']==1]
df_temp1

,col_name,null_count,value_count,dtype
17,pymnt_plan,0,1,<class 'str'>
32,initial_list_status,0,1,<class 'str'>
45,collections_12_mths_ex_med,56,1,<class 'numpy.float64'>
46,policy_code,0,1,<class 'numpy.int64'>
47,application_type,0,1,<class 'str'>
48,acc_now_delinq,0,1,<class 'numpy.int64'>
49,chargeoff_within_12_mths,56,1,<class 'numpy.float64'>
50,delinq_amnt,0,1,<class 'numpy.int64'>
52,tax_liens,39,1,<class 'numpy.float64'>

In [18]:
list(df_temp1['col_name'].values)

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [19]:
df.drop(list(df_temp1['col_name'].values),axis=1,inplace=True)

In [67]:
df.shape

(39717, 25)

### Business needs to forcast target variable 'loan_status' wrt variables we have before client is onboarded,thus removing columns were data is generated only ones client is onboarded

In [65]:
drop_cols = ['issue_d','last_credit_pull_d','earliest_cr_line','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d']
df_temp = df[drop_cols]
df_temp

,issue_d,last_credit_pull_d,earliest_cr_line,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d
0,2011-12-01,May-16,Jan-85,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16
1,2011-12-01,Sep-13,Apr-99,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13
2,2011-12-01,May-16,Nov-01,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16
3,2011-12-01,Apr-16,Feb-96,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16
4,2011-12-01,May-16,Jan-96,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,2007-07-01,Jun-10,Nov-90,0.00,0.00,2822.969293,1213.88,2500.00,322.97,0.00,0.00,0.00,Jul-10,80.90,Jun-10
39713,2007-07-01,Jul-10,Dec-86,0.00,0.00,9913.491822,1020.51,8500.00,1413.49,0.00,0.00,0.00,Jul-10,281.94,Jul-10
39714,2007-07-01,Jun-07,Oct-98,0.00,0.00,5272.161128,1397.12,5000.00,272.16,0.00,0.00,0.00,Apr-08,0.00,Jun-07
39715,2007-07-01,Jun-07,Nov-88,0.00,0.00,5174.198551,672.66,5000.00,174.20,0.00,0.00,0.00,Jan-08,0.00,Jun-07
39716,2007-06-01,Jun-10,Oct-03,0.00,0.00,9195.263334,980.83,7500.00,1695.26,0.00,0.00,0.00,Jun-10,256.59,Jun-10

In [66]:
df.drop(drop_cols,axis=1,inplace=True)
df.shape

(39717, 25)