In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('loan.csv')
df.head()

C:\Users\sdaks\AppData\Local\Temp\ipykernel_5244\3318210521.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [30]:
print(df.shape)

(39717, 111)

In [33]:
df.isnull().sum()
df.dropna(how='all',axis=1,inplace=True)

In [38]:
cols_nulls_per=df.isnull().sum()/df.shape[0]*100
cols_to_drop = list(cols_nulls_per[cols_nulls_per>5].index)
cols_to_drop

['emp_title',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'next_pymnt_d']

In [56]:
cols_with_null_greater_than_five_per=list(cols_nulls_per[cols_nulls_per>5].index)
print(cols_with_null_greater_than_five_per)

['emp_title', 'desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d']

In [53]:
print(df.desc.value_counts().size)
print(df.emp_title.value_counts().size)

26526
28820

In [57]:
df.drop(cols_with_null_greater_than_five_per,axis=1,inplace=True)
df.shape

(39717, 52)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_length                  38642 non-null  object
 11  home_ownership              39717 non-null  object
 12  annual_inc                  39717 non-null  float64
 13  verification_status         39717 non-null  object
 14  issue_d                     39717 non-null  object
 15  loan_status                 39717 non-null  object
 16  pymnt_plan                  39717 non-null  object
 17  url                         39717 non-null  object
 18  purpose                     39717 non-null  object
 19  title                       39706 non-null  object
 20  zip_code                    39717 non-null  object
 21  addr_state                  39717 non-null  object
 22  dti                         39717 non-null  float64
 23  delinq_2yrs                 39717 non-null  int64
 24  earliest_cr_line            39717 non-null  object
 25  inq_last_6mths              39717 non-null  int64
 26  open_acc                    39717 non-null  int64
 27  pub_rec                     39717 non-null  int64
 28  revol_bal                   39717 non-null  int64
 29  revol_util                  39667 non-null  object
 30  total_acc                   39717 non-null  int64
 31  initial_list_status         39717 non-null  object
 32  out_prncp                   39717 non-null  float64
 33  out_prncp_inv               39717 non-null  float64
 34  total_pymnt                 39717 non-null  float64
 35  total_pymnt_inv             39717 non-null  float64
 36  total_rec_prncp             39717 non-null  float64
 37  total_rec_int               39717 non-null  float64
 38  total_rec_late_fee          39717 non-null  float64
 39  recoveries                  39717 non-null  float64
 40  collection_recovery_fee     39717 non-null  float64
 41  last_pymnt_d                39646 non-null  object
 42  last_pymnt_amnt             39717 non-null  float64
 43  last_credit_pull_d          39715 non-null  object
 44  collections_12_mths_ex_med  39661 non-null  float64
 45  policy_code                 39717 non-null  int64
 46  application_type            39717 non-null  object
 47  acc_now_delinq              39717 non-null  int64
 48  chargeoff_within_12_mths    39661 non-null  float64
 49  delinq_amnt                 39717 non-null  int64
 50  pub_rec_bankruptcies        39020 non-null  float64
 51  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(21)
memory usage: 15.8+ MB

In [99]:
null_columns = df.isnull().sum()
null_columns[null_columns >0]
null_columns = null_columns[null_columns >0]
print(null_columns)

emp_length                    1075
revol_util                      50
last_pymnt_d                    71
last_credit_pull_d               2
collections_12_mths_ex_med      56
chargeoff_within_12_mths        56
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [100]:
temp = pd.DataFrame({'col_name':list(null_columns.index),'null_count':list(null_columns.values)})
temp

                     col_name  null_count
0                  emp_length        1075
1                  revol_util          50
2                last_pymnt_d          71
3          last_credit_pull_d           2
4  collections_12_mths_ex_med          56
5    chargeoff_within_12_mths          56
6        pub_rec_bankruptcies         697
7                   tax_liens          39

In [101]:
temp['value_count'] = temp['col_name'].apply(lambda x:df[x].value_counts().size)
temp['dtype'] = temp['col_name'].apply(lambda x:type(df[x][0]))
temp

,col_name,null_count,value_count,dtype
0,emp_length,1075,11,<class 'str'>
1,revol_util,50,1089,<class 'str'>
2,last_pymnt_d,71,101,<class 'str'>
3,last_credit_pull_d,2,106,<class 'str'>
4,collections_12_mths_ex_med,56,1,<class 'numpy.float64'>
5,chargeoff_within_12_mths,56,1,<class 'numpy.float64'>
6,pub_rec_bankruptcies,697,3,<class 'numpy.float64'>
7,tax_liens,39,1,<class 'numpy.float64'>

In [107]:
df.chargeoff_within_12_mths.value_counts()

chargeoff_within_12_mths
0.0    39661
Name: count, dtype: int64

In [113]:
# df.drop('title',axis=1,inplace=True)
# df.drop('collections_12_mths_ex_med',axis=1,inplace=True) #single value
# df.drop('chargeoff_within_12_mths',axis=1,inplace=True) #single value
# df.drop('tax_liens',axis=1,inplace=True) #single value
df.pub_rec_bankruptcies.value_counts()

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64

In [127]:
temp = pd.DataFrame({'col_name':list(df.columns)})
temp['value_count'] = temp['col_name'].apply(lambda x:df[x].value_counts().size)
temp['dtype'] = temp['col_name'].apply(lambda x:type(df[x][0]))
temp['null'] = temp['col_name'].apply(lambda x:df[x].isnull().sum())
temp

                   col_name  value_count                    dtype  null
0                        id        39717    <class 'numpy.int64'>     0
1                 member_id        39717    <class 'numpy.int64'>     0
2                 loan_amnt          885    <class 'numpy.int64'>     0
3               funded_amnt         1041    <class 'numpy.int64'>     0
4           funded_amnt_inv         8205  <class 'numpy.float64'>     0
5                      term            2            <class 'str'>     0
6                  int_rate          371            <class 'str'>     0
7               installment        15383  <class 'numpy.float64'>     0
8                     grade            7            <class 'str'>     0
9                 sub_grade           35            <class 'str'>     0
10               emp_length           11            <class 'str'>  1075
11           home_ownership            5            <class 'str'>     0
12               annual_inc         5318  <class 'numpy.float64'>     0
13      verification_status            3            <class 'str'>     0
14                  issue_d           55            <class 'str'>     0
15              loan_status            3            <class 'str'>     0
16               pymnt_plan            1            <class 'str'>     0
17                      url        39717            <class 'str'>     0
18                  purpose           14            <class 'str'>     0
19                 zip_code          823            <class 'str'>     0
20               addr_state           50            <class 'str'>     0
21                      dti         2868  <class 'numpy.float64'>     0
22              delinq_2yrs           11    <class 'numpy.int64'>     0
23         earliest_cr_line          526            <class 'str'>     0
24           inq_last_6mths            9    <class 'numpy.int64'>     0
25                 open_acc           40    <class 'numpy.int64'>     0
26                  pub_rec            5    <class 'numpy.int64'>     0
27                revol_bal        21711    <class 'numpy.int64'>     0
28               revol_util         1089            <class 'str'>    50
29                total_acc           82    <class 'numpy.int64'>     0
30      initial_list_status            1            <class 'str'>     0
31                out_prncp         1137  <class 'numpy.float64'>     0
32            out_prncp_inv         1138  <class 'numpy.float64'>     0
33              total_pymnt        37850  <class 'numpy.float64'>     0
34          total_pymnt_inv        37518  <class 'numpy.float64'>     0
35          total_rec_prncp         7976  <class 'numpy.float64'>     0
36            total_rec_int        35148  <class 'numpy.float64'>     0
37       total_rec_late_fee         1356  <class 'numpy.float64'>     0
38               recoveries         4040  <class 'numpy.float64'>     0
39  collection_recovery_fee         2616  <class 'numpy.float64'>     0
40             last_pymnt_d          101            <class 'str'>    71
41          last_pymnt_amnt        34930  <class 'numpy.float64'>     0
42       last_credit_pull_d          106            <class 'str'>     2
43              policy_code            1    <class 'numpy.int64'>     0
44         application_type            1            <class 'str'>     0
45           acc_now_delinq            1    <class 'numpy.int64'>     0
46              delinq_amnt            1    <class 'numpy.int64'>     0
47     pub_rec_bankruptcies            3  <class 'numpy.float64'>   697

In [120]:
temp = temp[temp['value_count']<=5]
temp

                col_name  value_count                    dtype  null
5                   term            2            <class 'str'>     0
11        home_ownership            5            <class 'str'>     0
13   verification_status            3            <class 'str'>     0
15           loan_status            3            <class 'str'>     0
16            pymnt_plan            1            <class 'str'>     0
26               pub_rec            5    <class 'numpy.int64'>     0
30   initial_list_status            1            <class 'str'>     0
43           policy_code            1    <class 'numpy.int64'>     0
44      application_type            1            <class 'str'>     0
45        acc_now_delinq            1    <class 'numpy.int64'>     0
46           delinq_amnt            1    <class 'numpy.int64'>     0
47  pub_rec_bankruptcies            3  <class 'numpy.float64'>   697

In [132]:
temp_series = temp[temp.value_count==1]['col_name']
df.drop(list(temp_series),axis=1,inplace=True)

In [133]:
df.shape

(39717, 42)

In [134]:
df.	pub_rec_bankruptcies.value_counts()

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64

In [135]:
df['pub_rec_bankruptcies'].fillna(df['pub_rec_bankruptcies'].mode()[0],inplace=True)
df.	pub_rec_bankruptcies.value_counts()

pub_rec_bankruptcies
0.0    38036
1.0     1674
2.0        7
Name: count, dtype: int64

In [136]:
df.drop(['url','id','member_id'],axis=1,inplace=True)
df.shape

(39717, 39)